.contenedor-venta{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background: #fafafa;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-buscar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    font-family: 'Segoe UI', sans-serif;
     margin: 10px;
    max-width: 190px;
    position: relative;
  }
  
  .input input {
    font-size: 100%;
    padding: 0.5em;
    outline: none;
    border: 2px solid rgb(107, 107, 108);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
  }
  
  .input label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.5em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(159, 155, 155);
  }
  
  .input :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #fafafa;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(37, 37, 211);
  }



  /* estilos de boton consultar */
  .boton-consultar {
    display: block;
    /* margin: 20px auto; */
    padding: 10px 20px;
    background-color: var(--color_verde);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.boton-consultar:hover {
    background-color: var(--color_negro);
}



/* estilos contenedores */
.tres-contenedores{
    display: flex;
    padding-bottom: 10px;
}
.contenedor-personas{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:25%;
    height: 380px;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.personas{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card-persona{
  display: flex;
  width: 260px;
  height: 80px;
  box-shadow: 0 4px 8px rgba(27, 98, 192, 0.1);
  background: #e4e4e4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.icono-persona{
  margin-left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0b4666;
  display: flex;
  align-items: center;
  justify-content: center;

}
.iconito{
  
}

.informacion-persona{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.informacion-persona span{
  font-size: 15px;
  color: rgb(62, 62, 62);
}
.informacion-persona .nombre-persona{
  font-weight: bold;
  color: #0b4666;
}


/* contenedor servicios */
.contenedor-servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:35%;
    /* height: 400px; */
    background: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 380px; /* Altura máxima del contenedor */
    overflow-y: scroll; /* Scroll vertical */
}
.servicios{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.accordion-item{
  width: 360px;
}
.menu-personas{
  display: flex;
  flex-direction: column;
}
.seleccionar-persona{
margin-bottom: 8px;
}

/* Aumentar el tamaño del checkbox */
.custom-control-input {
  width: 25px;
  height: 25px;
  cursor: pointer;
  
}

/* Estilo para la etiqueta */
.custom-control-label {
  
  align-items: center;
}
/* Animación para el checkbox */



.contenedor-factura{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:35%;
    height: 380px;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.venta{
  display: flex;
  align-items: end;
}
.card-total{
  height: 50px;
  width: 300px;
  background: #dde6e9;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.logo-peso{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #17660b;
  margin:5px 15px  5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-total{
  color: red;
  font-weight: bold;
}
.total-numero{
  color: #4c4e4d;
  font-weight: bold;
}
.terminar-venta{
  padding: 10px 20px;
    background-color: var(--color_negro);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.terminar-venta:hover{
  box-shadow: 0 4px 8px rgba(45, 208, 8, 1);
  font-weight:bold;
}



/* Estilos para navegadores WebKit (Chrome, Safari) */
.contenedor-servicios::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

.contenedor-servicios::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

.contenedor-servicios::-webkit-scrollbar-thumb {
  background: #c3cbc5; /* Color del pulgar (thumb) */
  border-radius: 10px; /* Redondear las esquinas del pulgar */
}

.contenedor-servicios::-webkit-scrollbar-thumb:hover {
  background: #108a14; /* Color del pulgar al pasar el ratón */
}

