<body>

    <div class="contenedor-venta animate__animated animate__zoomIn">
        <h1 class="titulo-2">Nueva venta</h1>
        <div class="card-buscar">
            <label for="cedula" class="label-cedula mx-3">Digite la cédula del afiliado:</label>
            <div class="input mx-3">

                <input class="boton-consultar" type="text" (change)="obtenerAfiliado(filterAfiliados)"
                    class="form-control" name="filterPost" placeholder="Cedula..." [(ngModel)]="filterAfiliados">
            </div>
            <!-- <div class="input mx-3">
                <input  (change)="obtenerAfiliado(filterAfiliados)" name="filterPost"
                    [(ngModel)]="filterAfiliados">
                <label for="name">Cedula</label>
            </div> -->
            <!-- <div id="consultarAfiliado">
                <button class="boton-consultar" type="button" onclick="obtenerAfiliado()">Buscar</button>
            </div> -->
        </div>
    </div>


    <div class="contenedor-venta animate__animated animate__zoomIn">
        <div class="tres-contenedores">
            <div class="contenedor-personas mx-3">
                <h3 class="subtitulo">Afiliado</h3>
                <div class="personas">
                    <div class="card-persona">
                        <div class="icono-persona">
                            <i class="fa-solid fa-user fa-2xl" style="color: #edeff2;"></i>
                        </div>
                        <div class="informacion-persona" *ngFor="let afiliados of afiliado">
                            <span class="nombre-persona">{{afiliados.nombre}} {{afiliados.apellido}}</span>
                            <span class="documento">CC: {{afiliados.numerodocumento}}</span>
                            <span class="categoria">Categoria:
                                <span class="badge badge-warning">{{afiliados.categoria}}</span>
                            </span>
                        </div>
                    </div>
                    <h4 class="subtitulo-beneficiarios">Beneficiarios</h4>
                    <div class="card-persona" *ngFor="let beneficiariosht of beneficiarios">
                        <div class="icono-persona">
                            <i class="fa-solid fa-user fa-2xl" style="color: #edeff2;"></i>
                        </div>
                        <div class="informacion-persona">
                            <span class="nombre-persona">{{beneficiariosht.nombre}} {{beneficiariosht.apellido}}</span>
                            <span class="categoria">Parentezco: <span class="">{{beneficiariosht.parentezco}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-servicios mx-3">
                <h3 class="subtitulo">Servicios</h3>
                <div class="servicios">
                    <mat-list *ngFor="let servicios of listadoservicios">
                        <div class="row">
                            <div class="col-11">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item cuadro-acordeon">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">{{servicios.nombre}}
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="menu-personas">
                                                    <div class="seleccionar-persona">
                                                        <div class="custom-control custom-checkbox"
                                                            *ngFor="let afiliados of afiliado">
                                                            <input type="checkbox"
                                                                class="custom-control-input servicio-checkbox"
                                                                data-service="Centro Recreativo">
                                                            <label class="custom-control-label mx-3">
                                                                {{afiliados.nombre}}
                                                                {{afiliados.apellido}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="seleccionar-persona">
                                                        <div class="custom-control custom-checkbox"
                                                            *ngFor="let beneficiariosht of beneficiarios">
                                                            <input type="checkbox"
                                                                class="custom-control-input servicio-checkbox"
                                                                data-service="Centro Recreativo">
                                                            <label class="custom-control-label mx-3 ">
                                                                {{beneficiariosht.nombre}}
                                                                {{beneficiariosht.apellido}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-list>

                </div>
            </div>

            <div class="contenedor-factura mx-1">
                <h3 class="subtitulo">Venta</h3>
                <div class="venta">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Servicio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody id="factura-body">
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td scope="row"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-total">
                    <div class="logo-peso">
                        <i class="fa-solid fa-dollar-sign fa-xl m-auto" style="color: #ffffff;"></i>
                    </div>
                    <span class="total-total mx-2">Total:</span>
                    <span class="total-numero">$500000</span>
                </div>
                <button id="terminarVentaBoton" class="terminar-venta mt-4"> Listo</button>
            </div>

        </div>
    </div>

    <!-- Incluyendo el JavaScript de Bootstrap 5 y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>

</body>